#RewriteEngine on
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#
#RewriteRule ([a-zA-Z0-9\-]+)\/([0-9\-]+)\/([a-zA-Z\-]+) index.php?Main=$1&id=$2&Action=$3 [QSA,L]
#RewriteRule ([a-zA-Z0-9\-]+)\/([a-zA-Z\-]+) index.php?Main=$1&Action=$2 [QSA,L]
#RewriteRule ([a-zA-Z0-9\-]+)\/([0-9\-]+) index.php?Main=$1&id=$2&Action=showone [QSA,L]
#
#RewriteRule ([a-zA-Z0-9\-]+) index.php?Main=$1 [QSA,L]